*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: poppins, sans-serif;
}
/* Common styles */
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-size: 1.6em;
    border-radius: 24.5px;
    background: #171100;    
    padding: 0 16px;
    line-height: 50px;
    min-width: 118px;
}

/* Header */
.header.fixed{
    background-color: #e9c349;
    position: sticky;
    top: -28px;
}
.header .body {
    display: flex;
    margin-left: auto;
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.nav{
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a{
    color: #5F5B53;
    font-size: 1.6em;
    padding: 8px 21px;
}
.nav li a:hover,
.nav li.active a{
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
    /* background-color: #c55252; */
    position: relative;
}

.nav li.active a::after{
    content: '';
    display: block;
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
    position: absolute;
    left: 21px;
    bottom: 6px;
}

.header .btn.sign-up-btn{
    min-width: 144px;
}

.body {
    align-items: center;
    padding: 36px 0 8px;
}